<%- include("includes/head.ejs", { pageTitle: "An error occurred" }) %>
</head>
<body>
  <%- include("includes/header.ejs") %>

    <main>
        <h1>Could not find the requested page</h1>
        <p>Unfortunately, we could not find the page you were looking for.</p>
        <p><a href="/">Go back to the homepage</a></p>
 </main>
<%- include("includes/footer.ejs") %>