<%- include("../../shared/includes/head.ejs", { pageTitle: "All Products" }) %>
<link rel="stylesheet" href="styles/products.css">
<link rel="stylesheet" href="/styles/forms.css">
<link rel="stylesheet" href="/styles/auth.css">
<script src="/scripts/product-management.js"></script>
</head>
<body>
  <%- include("../../shared/includes/header.ejs") %>

    <main>
        <h1>Product Administration</h1>
        <section> 
            <h2>Manage Products</h2>
        </section>
        <p><a href="/admin/products/new" class="btn">Add products</a> </p>
        <section>
          <p>Here are all the products in our store.</p>
        </section>
       <section>
        <ul id="products-grid">
          <% for (const product of products) { %>
          <li>
            <%- include("./includes/product-items", { product: product }) %>  
          </li>
          <% } %>
        </ul>
       </section>
 </main>
<%- include("../../shared/includes/footer.ejs") %>
