<%- include("../../shared/includes/head.ejs", { pageTitle: "Add new products" }) %>
<link rel="stylesheet" href="/styles/forms.css">
<link rel="stylesheet" href="/styles/auth.css">
<body>
  <%- include("../../shared/includes/header.ejs") %>

    <main>
       <h1>Add new product</h1>
       <%- include("./includes/product-form.ejs", { submitPath: "/admin/products", product: { title: "", summary: "", description: "" } }) %>
 </main>
<%- include("../../shared/includes/footer.ejs") %>
