<%- include("../includes/head.ejs", { pageTitle: "SignUp" })  %>
</head>
<body>
    <%- include("includes/header") %>
    <main>
        <h1>Create New Account</h1>
        <form action="" method=""</form>
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required/>
    </main>
    
<%- include("../includes/footer.ejs") %>

